<div class="m-333">
  <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Add User</button>
</div>
<mat-form-field class="margin-333" style="width: 100%">
    <input
            matInput
            placeholder="Type to filter all columns"
            value=""
            (keyup)='updateFilter($event)'>
</mat-form-field>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
      <ngx-datatable
              class="material"
              [rows]="items"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [externalPaging]="true"
              [count]="page.totalElements"
              [offset]="page.page"
              [limit]="page.size"
              (page)='getItems($event)'>

          <ngx-datatable-column name="#UserID" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.user_id }}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="DisplayName" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.display_name }}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="UserName" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.user_name }}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="RegisteredDate" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.reg_date }}
              </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Actions" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
              </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
  </mat-card-content>
</mat-card>

